body{
    font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align:center;
}

.chat-container{
    max-width:400px;
    height:350px;
    margin:20px auto;
    padding:15px;
    border:3px dotted #0e91e9;
    border-radius:5px;
    display:flex;
    flex-direction:column;
}

.chat-box{
    flex:1;
    overflow-y:auto;
    border:1px solid #ccc;
    padding:10px;
    margin-bottom:10px;
    display:flex;
    flex-direction:column;
}

.msg{
    display:flex;
}

input[type="text"]{
    flex:1;
    padding:8px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    margin-left:5px;
    padding:8px 12px;
    background:#f3f3ed;
    cursor:pointer;
}

.message{
    padding:8px;
    margin:5px 0;
    border-radius:5px;
    max-width:70%;
}

.user{
    background:#cce5ff;
    align-self:flex-end;
}

.bot{
    background:#eeeeee;
    align-self:flex-start;
}